@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background: linear-gradient(239deg, #43728a, #2daa94);
    font-family: 'Quicksand', sans-serif;
    height:100vh;
    .container {
        display:flex;
        align-items: center;
        justify-content: center;
        .login{
            margin-top:30px;
            width:500px;

            .form{
                margin-top: 50px;
                .form-group{
                    background: #ffff;
                }
            }
        }
    }
}

h1 {
    font-family: 'Fugaz One', cursive;
}

p {
    font-family: 'Quicksand', sans-serif;
}